.link {
  @include btn-reset;
  @include font(14px, 18px, 500);
  color: $primary;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $primary-hover;
    cursor: pointer;
  }
}
